html {
  background-color: #e2e2e2;
}

body {
  margin: 2em auto;
  max-width: 35em;

  background-color: #fff;
  border: 1px solid #ccc;
}

section {
  overflow: hidden;
  padding: 4em 1em;
  position: relative;

  border-bottom: 1px solid #ccc;
}

section:nth-child(5) {
  border: 0;
}

div {
  position: absolute;
  right: 1em;
  top: 0;
}

.box {
  height: 100px;
  top: calc(50% - 50px);
  width: 200px;

  background-color: limegreen;
  opacity: 0;

  transition: opacity 200ms linear;
}

.js-show-hide {
  opacity: 1;
}

.diamond {
  height: 80px;
  right: -100px;
  top: calc(50% - 40px);
  width: 80px;

  background-color: hotpink;
  transform: rotate(45deg);

  transition: right 200ms linear;
}

.js-move {
  right: 2em;
}

.panel {
  max-height: 10em;
  overflow: hidden;
  top: 50%;
  width: 250px;

  background-color: yellow;
  transform: translateY(-50%);

  color: darkgoldenrod;
  text-align: center;

  transition: max-height 200ms linear;
}

.panel h2 {
  margin: 0;
  padding: 3rem 0;
}

.js-collapse-expand {
  max-height: 0;
}

.circle {
  height: 100px;
  top: calc(50% - 50px);
  width: 100px;

  background-color: orange;
  border-radius: 50%;
}

.js-bounce {
  animation: bounce 1s linear;
}

@keyframes bounce {

  0% {
    top: 0;
    left: 425px;
  }

  25% {
    top: 50px;
    left: 375px;
  }

  50% {
    top: 10px;
    left: 325px;
  }

  75% {
    top: 40px;
    left: 275px;
  }

  100% {
    top: 20px;
    left: 225px;
  }

}

.list {
  bottom: 1em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 250px;

  border: 1px solid #ccc;
  overflow-x: hidden;
  overflow-y: auto;
}

.list li {
  padding: 0 .5em;
  max-height: 0;

  background-color: plum;
  border: 1px solid mediumpurple;
  overflow: hidden;

  color: mediumpurple;
}
